:root
{
  /* layout */
  --body-background-size: 130%;
  --header-height: 36vw;
  --banner-height: 18vw;
  --logo-size: 26vw;
  --site-name-hem: 5vw;
  --site-name-font-size: 7vw;
  --site-description-font-size: 3vw;
}
