:root
{
  /* layout */
  --body-background-size: 100%;
  --header-height: 336px;
  --banner-height: 168px;
  --logo-size: 252px;
  --site-name-hem: 42px;
  --site-name-font-size: 80px;
  --site-description-font-size: 26px;
  --body-background-size: 100%;

  --controls-height: 46px;

  --info-horizontal-hem: 30px;

  /* font */
  font-size: 18px;

  /* details */
  --detached-controls-opacity: 85%;

  --menu-button-minor-hem: 10px;
  --menu-button-major-hem: 0;
  --menu-button-font-size: 100%;
  --menu-button-icon-size: 26px;
}

#dial .menu-button:hover
{
  background-color: var(--controls-backlight-color);
}
